/* Global Settings */
/* settings for full website */

body {margin: 0px; font-family: 'Poppins', sans-serif; background-color: white;
overflow-x: hidden;}

ul {margin: 0px; padding: 0px;list-style: none;}

h1,h2,h3,h4,h5,h6 {margin-top: 0px;}

a {text-decoration: none;}


/* Helper Classes */

.left {float: left;}

.right {float: right;}

.clearfix:after {content: "";clear: both;display: block;}

.w-100 {width: 100%;}

.row {display: flex; }

.justify-content-between { justify-content: space-between;}
/* Generics CSS */
.header { width: 85% ; margin:0 auto; }

.sprite { background-image: url(../images/sprite.png); display: inline-block;}

.lock { background-position: -103px -667px; width: 16px; height: 19px; transition-duration: 1s;}


.track { background-position: -98px -732px; width: 24px; height: 15px; transition-duration: 1s;}

.giftcard {background-position: -100px -795px; width: 21px; height: 14px; transition-duration: 1s;}

.compare { background-position:-17px -245px; width: 22px; height: 18px; transition-duration: 1s;}

.wishlist { background-position:-18px -167px; width: 22px; height: 18px; transition-duration: 1s;}

.cart { background-position:-17px -17px; width: 22px; height: 18px; transition-duration: 1s;}

.shopnow { height: 50px ; width: 150px; background-color: red; 
    border-radius: 50%; text-align: center;}

.shopnow .margin1 a { color: white; text-decoration: none; font-size: 22px; }
.shopnow .margin1 { padding-top: 10px; height: 80%; width: 100%; }
.shopnow:hover { background-color:tomato;}

.new { height: 30px; width: 35px; background-color: yellow; border-radius: 50%; color:black; 
    position: absolute; top:0px; right:0px;}

.sale { height: 30px; width: 36px; background-color: orange; border-radius: 50%; color:black; 
        position: absolute; top:0px; left:0px;}

/* Specific CSS */
.header .header_top { margin-top:5px; border-bottom: 1px solid lightgray; padding:4px 0px;}
.header .header_top ul li { display: inline-block;}
.header .header_top .content #check{ position: absolute; top:2px; right: 0px; opacity: 0; }
.header .header_top .content ul li { position: relative; margin-right: 7px; color:#B3B3B3; }
.header .header_top .content ul li ul { position: absolute; display: block; visibility: hidden; border: 1px solid lightgrey; 
top:30px;background-color: white;}
.header .header_top .content ul li ul li {color:#B3B3B3;}
.header .header_top .content #check:checked~ ul  { visibility: visible;}

.header .header_top .images ul li{ padding: 0px 12px; border-left: 1px solid lightgray;}
.header .header_top .images ul li:first-child { border: none;}
.header .header_top .images .lock:hover { background-position: -103px -698px;}
.header .header_top .images .track:hover { background-position: -98px -763px;}
.header .header_top .images .giftcard:hover { background-position: -100px -827px;}


.header .header_bottom { padding: 22px 0px; }
.header .header_bottom .bar { width:50%; padding-left:5px; margin-left: 5%; position: relative; }
.header .header_bottom .bar .wrapper { border: 1px solid lightgray; width: 100%; margin-top: 10px; 
padding: 5px 5px; border-top-left-radius:15px; border-bottom-left-radius: 15px;}
.header .header_bottom .bar .wrapper .categories { padding: 0px 5px; border-right: 1px solid lightgray;
position: relative;}
.header .header_bottom .bar .wrapper .categories .check02 { position: absolute;top:1px;right: 1px;opacity:0;}
.header .header_bottom .bar .wrapper .categories ul { position: absolute;border: 1px solid lightgray;
width: 100%; top:30px ; left: 0px; overflow-y: scroll; overflow-x: hidden; visibility: hidden;height: 200px;
background-color: white; position: absolute;z-index: 3;}
.header .header_bottom .bar .wrapper .categories ul li { border: 1px solid lightgrey;}
.header .header_bottom .bar .wrapper .categories .check02:checked~ ul { visibility: visible;}


.header .header_bottom .bar .wrapper .search input[type-tect]:focus {outline: none;}
.header .header_bottom .bar .wrapper .search #text01 { padding-right:20px; padding-left: 5px;} 
.header .header_bottom .bar .wrapper .searchimage {  position: absolute; 
    background-position:-4px -85px;width: 22px; height: 20px;background-color: tomato; 
    right: -24px; top: 8px; padding: 11px 11px; border-radius: 50%;}

.header .header_bottom .bar .wrapper .searchimage:hover {background-color:gray;}


.header .header_bottom  .links { width: 28%; margin-left: 10px;}
.header .header_bottom  .links ul {margin-left: 60% ; margin-top: 15px;}
    
.header .header_bottom  .links ul li { display: inline-block; padding: 4px 7px;}
.header .header_bottom .links .compare:hover { background-position:-17px -282px;}
.header .header_bottom .links .wishlist:hover { background-position:-18px -204px; }
.header .header_bottom .links .cart:hover { background-position:-17px -53px; }


.navbar {height: 50px; width: 100%; background-color:#1B2839;}

.navbar .categories { background-color: tomato; color: white; width: 15%; margin-left: 7%;
height: 100%; font-size: 25px; text-align: center; position: relative;  }

.navbar .categories .text { padding-top: 7px;}

.navbar .categories .check03 { position: absolute; transform: scale(3,3); top: 15px; left:15px; opacity: 0;}
.navbar .categories ul { visibility: hidden; height: 250px; overflow-y: scroll; overflow-x: hidden; position: absolute; width: 100%;z-index: 2;}
.navbar .categories  ul li { background-color: white; text-align:left; border: 1px solid lightgrey;}

.navbar .categories .check03:checked~ul { visibility: visible;}

.navbar .list { height: 100%; width: 50%; margin-left: 20px;}
.navbar .list ul li { display: inline-block; padding: 0px 20px;  }
.navbar .list ul li a { color: white; }
.navbar .list ul li:hover{ border-bottom: 1px solid white; }
.navbar .help { height: 100%; width: 29%; }
.navbar .help a { color: white; }

.navbar .list .text { margin-top: 13px;}
.navbar .help .text { margin-top: 13px; margin-left: 125px;}


.slider { height: 60%; width:400% ; animation: sliderss 20s linear infinite; margin: 0%; }
@keyframes sliderss { 
0%,20% { transform: translateX(0%);}
25%, 40% { transform: translateX(-25%);}
 50%,70%{ transform: translateX(-50%);}
75%, 100%{ transform: translateX(-75%);}
}
.slider:hover { animation-play-state: paused;}
.slide  {width: 25%; position: relative;}
.slide img { height: 100%;width: 100%;}
.description { position: absolute; height: 100%; width: 100%; top: 50px; left: 50%;}
.description h4 { font-size: 40px; color: black; margin: 0%; padding: 0%;}
.description h2{ font-size: 55px; color: tomato; font-weight: 700; margin: 0%; padding: 0%;}
.description h3{  font-size: 35px; margin: 0%; padding: 0%;}

.section_1 { width: 100%; margin: 0%; }
.section_1 img { width: 100%;}      
.section_1 .col { position: relative;}
.section_1 .description1 { position: absolute; background-color:  rgba(0, 0, 0, 0.9); height: 50%;
width: 90%; left: 20px; top: 80px;}
.section_1 .col:after,
.section_1 .col:before {
      content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    z-index: 10;
    top: 0px;
    opacity: 0;
    transition: 1s;
    transform: scale(1, 1);
    background-color: rgba(255, 255, 255, 0.5);
}
.section_1 .col:hover:before {
    transform: scale(0, 1);
    opacity: 1;
}

.section_1 .col:hover:after {
    transform: scale(1, 0);
    opacity: 1;
}

.new_arrivals { width: 100%; margin: 0%;}
.new_arrivals .col { width: 25%; height: 500px;}
.new_arrivals .row .col .image {width: 80%; height: 70%; margin:10% 15%; margin-bottom: 5px;
    position: relative;}
.new_arrivals .row .col .image img { height: 100%; width: 100%;}
.new_arrivals .col span {  text-align: center ;display: block; margin: 0%;}  
.new_arrivals .col span a:hover { color: tomato;}
.new_arrivals .row .col .image .hover1{ background-color: rgba(0, 0, 0, 0.5);
     position: absolute; height: 100%;width: 100%; top: 0px; opacity: 0;}
    
.new_arrivals .row .col .image .hover1:hover { opacity: 1;}
.new_arrivals .row .col .image .hover1 .hover_desp  {position: absolute; top:50%; left: 25%; }
.new_arrivals .row .col .image .hover1 .hover_desp li { display: inline-block; height: 25px; width: 25px;
margin:0 10px; background-color: white; border-radius: 50%;}
.new_arrivals .row .col .image .hover1 .hover_desp  .wishlist {  background-position:-16px -164px; transition-duration: 1s;}
.new_arrivals .row .col .image .hover1 .hover_desp .cart  { background-position:-15px -16px; transition-duration: 1s;}
.new_arrivals .row .col .image .hover1 .hover_desp .compare {background-position:-15px -243px; transition-duration: 1s; }

.new_arrivals .row .col .image .hover1 .hover_desp  .wishlist:hover {  background-position:-16px -201px; }
.new_arrivals .row .col .image .hover1 .hover_desp .cart:hover  { background-position:-15px -52px; }
.new_arrivals .row .col .image .hover1 .hover_desp .compare:hover {background-position:-15px -280px;  }

.top_categories { height: 70%; width: 100%; overflow-x: hidden; background-color: gainsboro; margin: 0%;}
.top_categories h1 { margin-left: 70px; margin-top: 50px;}
.top_categories .slider1 { width: 80% ; margin: 0 auto; border: 1px solid black; height: 275px;
overflow: hidden;}
.top_categories .slider1 .slide1  { height: 100%; width: 200%; animation: slider11 20s linear infinite; }

@keyframes slider11 { 
  0%,20% { transform: translateX(0%); }  
  40%,60% { transform: translateX(-20%); }  
  80%,100% { transform: translateX(-50%); }  

}

.top_categories .slider1  .slide1 .image img { height: 100% ;width: 80%; margin-left: 10%; }
.top_categories .slider1  .slide1 .image { position: relative;}
.top_categories .slider1  .slide1 .image .content { position: absolute; background-color: tomato; 
    color: white; font-size: 25px; top:85% ;width: 80%;text-align: center;margin-left: 10%; }

.section_3 { background-image: url("http://aaryaweb.info/html/stylexpo/stx001/images/perellex.jpg");
background-attachment: fixed; height: 500px; width: 100%; position: relative;
}
.section_3 .text {   background-color: rgba(255, 114, 0, 0.1) ; width: 60%; height: 60%;margin: 7% 20%;
color: white; position: absolute;}
.section_3 .text h2 {margin-left: 30%; }


.section_4 { height:125px;width: 100%; background-color: gainsboro;}
.section_4 li { width: 25%; border-right:1px solid gray; margin: 40px 0px; padding: 0px 10px; box-sizing: border-box;
position: relative; }
.featured { background-image: url(../images/feautured_icons.png); background-repeat: no-repeat;display: inline-block;
  width: 57px ; height: 40px;position: absolute; transition-duration: 1s;}
.section_4 h2 { display: inline-block; margin: 0%; margin-left: 22%;}
.section_4 span { margin-left: 22%;}
.section_4 .col-2 { background-position: -10px -120px;width: 38px; height: 43px; left:30px; }
.section_4 .col-3 { background-position: -11px -246px;width: 35px; height: 45px; left:30px; }
.section_4 .col-4 { background-position: -8px -376px; width: 41px; height: 49px; left:30px; }

.section_4 li:hover h2{ color: tomato;}
.section_4 li:hover span{ color: tomato;}
.section_4 li:hover .featured{ background-position: 0 -60px;}
.section_4 li:hover .col-2{ background-position: -10px -183px;}
.section_4 li:hover .col-3{ background-position: -11px -311px; }
.section_4 li:hover .col-4{ background-position:-8px -445px;}

.footer { width: 100%; height: 400px; background-color:#FAFAFA; border-top:1px solid gray; }

.footer_1 { padding-top: 50px;}
.footer_1 .row {width: 80% ; margin-left:10%;}
.footer .footer_1 li { width: 25%; padding-left: 8px; }
.footer_1 a { color:gray;}
.footer_1 p { color:gray; font-weight: bold;}

.footer_1 a:hover { color: tomato;}
.footer_2 { width: 80%; margin-left: 10%; border-top:1px solid gray; border-bottom:1px solid gray;
padding: 10px 0px; }
.footer_2 .follow { margin-left: 42%;}
.footer_2 a { color: tomato; font-size: 22px;padding: 0px 7px;}
.footer_2 a:hover {color: turquoise;}


